body {
  font-family: monospace;
}

p {
  margin: 20px;
  color: lightyellow;
  text-align: center;
}

.cartelera {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.inputDiv {
  width: 100vw;
  padding-top: 20px;
  height: 50px;
  text-align: center;
}

.cartel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  width: 250px;
  background-color: lightblue;
  margin: 20px;
}

.cartelPinchado {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  width: 250px;
  background-color: lightgreen;
  margin: 20px;
}


.titulo {
  color: lightyellow;
  height: 100px;
  text-align: center;
}

.imagen {
  width: 80%;
}